name: Node.js CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 23.x, 24.x, 25.x]

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurando Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Instalar dependências
      run: npm install

    - name: Verificar Lint (opcional)
      run: npm run lint --if-present

    - name: Executar Testes
      run: npm test